.modal-card-head {
  position:relative;
  .notification {
    position: absolute;
    width: 90vw;
    top: 0;
  }
}

/* All Farms */
.all-farms {
  .buttons {
    padding: 1em;
    text-align: center;
  }
  min-height: 100vh;
}

.all-farms__content .notification {
  width: 90% !important;
  text-align: center;
}

.all-farms__content {
  margin-top: 1rem !important;
}

.farm {
  margin: 0.4em;
}

header.farm-title {
  border-bottom: 1px solid rgba(0,0,0,0.06);
  padding-bottom: 0.3em;
}

/* Fund Page */
.farm-details {
  border-bottom: 2px solid black;
}

/* Modal */
.show-modal {
  display: block;
}

.modal {
  overflow: scroll !important;
}

.farm-edit__btn {
  text-decoration: none;
  &:hover {
    color: #fff;
  }
}
